<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fusion | Faucet</title>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/packaged/jquery.noty.packaged.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
		<style>
			.vertical-center {
				min-height: 100%;
				min-height: 100vh;
				display: flex;
				align-items: center;
			}
			.progress {
				position: relative;
			}
			.progress span {
				position: absolute;
				display: block;
				width: 100%;
				color: white;
			 }
			 pre {
				 padding: 6px;
				 margin: 0;
			 }
		</style>
	</head>

	<body>
		<div class="vertical-center">
			<div class="container">
				<div class="row" style="margin-bottom: 16px;">
					<div class="col-lg-12">
						<h1 style="text-align: center;"><i class="fa fa-bath" aria-hidden="true"></i>  Fusion Authenticated Faucet</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="input-group">
							<input id="url" name="url" type="text" class="form-control" placeholder="Social network URL containing your FSN address...">
							<span class="input-group-btn">
								<button id="selectCT" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FSN <i class="fa fa-caret-down" aria-hidden="true"></i></button><!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
				<!--
				        <ul class="dropdown-menu dropdown-menu-right">
						<li><a style="text-align: center;" onclick="selectCointype('Give me GUSD')">Give me GUSD (ERC20)</li>
						<li><a style="text-align: center;" onclick="selectCointype('Give me BNB')">Give me BNB (ERC20)</li>
						<li><a style="text-align: center;" onclick="selectCointype('Give me MKR')">Give me MKR (ERC20)</li>
						<li><a style="text-align: center;" onclick="selectCointype('Give me HT')">Give me HT (ERC20)</li>
						<li><a style="text-align: center;" onclick="selectCointype('Give me BNT')">Give me BNT (ERC20)</li>
				        </ul>
				-->
							</span>
						</div><!--{{if .Recaptcha}}-->
					</div>
				</div>
				<div class="row">
					<center><button class="btn btn-default dropdown-toggle" type="button" id="confirm" style="background-color: #77dd00; width: 140px; margin-top: 20px;" onclick="submit(0)"> Give me FSN </button></center>
				</div>
			</div>
		</div>

		<script>
			console.log("ttttest");
			// Global variables to hold the current status of the faucet
			var attempt = 0;
			var server;
			var tier = 0;
			var requests = [];

			// Define a function that creates closures to drop old requests
			var dropper = function(hash) {
				return function() {
					for (var i=0; i<requests.length; i++) {
						if (requests[i].tx.hash == hash) {
							requests.splice(i, 1);
							break;
						}
					}
				}
			};
			var selectCointype = function(cointype){
				console.log("set cointype "+cointype)
				document.getElementById("selectCT").innerHTML = cointype
			}
			// Define the function that submits a gist url to the server
			var submit = function(){
				console.log(document.getElementById("url").value, document.getElementById("selectCT").innerHTML)
				server.send(JSON.stringify({url:document.getElementById("url").value,captcha: "FSN"}))
				console.log("submit, send")
			}
			//var submit = function({{if .Recaptcha}}captcha{{end}}) {
			//	console.log("submit");
			//server.send(JSON.stringify({url: $("#url")[0].value, tier: tier{{if .Recaptcha}}, captcha: captcha{{end}}}));{{if .Recaptcha}}
			//	grecaptcha.reset();{{end}}
			//};
			// Define a method to reconnect upon server loss
			var reconnect = function() {
				console.log("reconnect")
				//server = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + "127.0.0.1:8080" + "/api");
				server = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + "54.164.7.63:40499" + "/api");
				//server.send("hello")
				console.log("readyState: "+server.readyState)

				console.log("server")
						//test
						server.onopen = function() {
      						      console.log("server open");
      						      //setConnected("已连接");
      						      //设置发信息送类型为：ArrayBuffer
      						      server.binaryType = "arraybuffer";

      						      //发送一个字符串和一个二进制信息
      						      server.send("thank you for accepting this WebSocket request");
      						      var a = new Uint8Array([8, 6, 7, 5, 3, 0, 9]);
      						      server.send(a.buffer);
      						  }
      						  server.onmessage = function(e) {
							  console.log("server onmessage")
      						      console.log(e.data.toString());
      						  }
      						  server.onclose = function(e) {
      						      console.log("server closed");
      						  }
      						  server.onerror = function(e) {
      						      console.log("server error");
      						  }
				//server.onmessage = function(event) {
				//	console.log("onmessage")
				//	var msg = JSON.parse(event.data);
				//	if (msg === null) {
				//		return;
				//	}

				//	if (msg.funds !== undefined) {
				//		$("#funds").text(msg.funds);
				//	}
				//	if (msg.funded !== undefined) {
				//		$("#funded").text(msg.funded);
				//	}
				//	if (msg.peers !== undefined) {
				//		$("#peers").text(msg.peers);
				//	}
				//	if (msg.number !== undefined) {
				//		$("#block").text(parseInt(msg.number, 16));
				//	}
				//	if (msg.error !== undefined) {
				//		noty({layout: 'topCenter', text: msg.error, type: 'error', timeout: 5000, progressBar: true});
				//	}
				//	if (msg.success !== undefined) {
				//		noty({layout: 'topCenter', text: msg.success, type: 'success', timeout: 5000, progressBar: true});
				//	}
				//	if (msg.requests !== undefined && msg.requests !== null) {
				//		// Mark all previous requests missing as done
				//		for (var i=0; i<requests.length; i++) {
				//			if (msg.requests.length > 0 && msg.requests[0].tx.hash == requests[i].tx.hash) {
				//				break;
				//			}
				//			if (requests[i].time != "") {
				//				requests[i].time = "";
				//				setTimeout(dropper(requests[i].tx.hash), 3000);
				//			}
				//		}
				//		// Append any new requests into our local collection
				//		var common = -1;
				//		if (requests.length > 0) {
				//			for (var i=0; i<msg.requests.length; i++) {
				//				if (requests[requests.length-1].tx.hash == msg.requests[i].tx.hash) {
				//					common = i;
				//					break;
				//				}
				//			}
				//		}
				//		for (var i=common+1; i<msg.requests.length; i++) {
				//			requests.push(msg.requests[i]);
				//		}
				//		// Iterate over our entire local collection and re-render the funding table
				//		var content = "";
				//		for (var i=0; i<requests.length; i++) {
				//			var done    = requests[i].time == "";
				//			var elapsed = moment().unix()-moment(requests[i].time).unix();

				//			content += "<tr id='" + requests[i].tx.hash + "'>";
				//			content += "  <td><div style=\"background: url('" + requests[i].avatar + "'); background-size: cover; width:32px; height: 32px; border-radius: 4px;\"></div></td>";
				//			content += "  <td><pre>" + requests[i].account + "</pre></td>";
				//			content += "  <td style=\"width: 100%; text-align: center; vertical-align: middle;\">";
				//			if (done) {
				//				content += "    funded";
				//			} else {
				//				content += "    <span id='time-" + i + "' class='timer'>" + moment.duration(-elapsed, 'seconds').humanize(true) + "</span>";
				//			}
				//			content += "    <div class='progress' style='height: 4px; margin: 0;'>";
				//			if (done) {
				//				content += "      <div class='progress-bar progress-bar-success' role='progressbar' aria-valuenow='30' style='width:100%;'></div>";
				//			} else if (elapsed > 30) {
				//				content += "      <div class='progress-bar progress-bar-danger progress-bar-striped active' role='progressbar' aria-valuenow='30' style='width:100%;'></div>";
				//			} else {
				//				content += "      <div class='progress-bar progress-bar-striped active' role='progressbar' aria-valuenow='" + elapsed + "' style='width:" + (elapsed * 100 / 30) + "%;'></div>";
				//			}
				//			content += "    </div>";
				//			content += "  </td>";
				//			content += "</tr>";
				//		}
				//		$("#requests").html("<tbody>" + content + "</tbody>");
				//	}
				//	console.log("onmessage end")
				//}
				console.log("server end")
				server.onclose = function() { setTimeout(reconnect, 3000); };
			}
			// Start a UI updater to push the progress bars forward until they are done
			setInterval(function() {
				$('.progress-bar').each(function() {
					var progress = Number($(this).attr('aria-valuenow')) + 1;
					if (progress < 30) {
						$(this).attr('aria-valuenow', progress);
						$(this).css('width', (progress * 100 / 30) + '%');
					} else if (progress == 30) {
						$(this).css('width', '100%');
						$(this).addClass("progress-bar-danger");
					}
				})
				$('.timer').each(function() {
					var index = Number($(this).attr('id').substring(5));
					$(this).html(moment.duration(moment(requests[index].time).unix()-moment().unix(), 'seconds').humanize(true));
				})
			}, 1000);

			// Establish a websocket connection to the API server
			reconnect();
		</script>{{if .Recaptcha}}
		<!--
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>{{end}}
		-->
	</body>
</html>
